@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Regular.eot");
  src: url("./fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNext-Regular.woff2") format("woff2"), url("./fonts/AvenirNext-Regular.woff") format("woff"), url("./fonts/AvenirNext-Regular.ttf") format("truetype"), url("./fonts/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-DemiBold.eot");
  src: url("./fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("./fonts/AvenirNext-DemiBold.woff") format("woff"), url("./fonts/AvenirNext-DemiBold.ttf") format("truetype"), url("./fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Medium.eot");
  src: url("./fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNext-Medium.woff2") format("woff2"), url("./fonts/AvenirNext-Medium.woff") format("woff"), url("./fonts/AvenirNext-Medium.ttf") format("truetype"), url("./fonts/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-Italic.eot");
  src: url("./fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNext-Italic.woff2") format("woff2"), url("./fonts/AvenirNext-Italic.woff") format("woff"), url("./fonts/AvenirNext-Italic.ttf") format("truetype"), url("./fonts/AvenirNext-Italic.svg#AvenirNext-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-MediumItalic.eot");
  src: url("./fonts/AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNext-MediumItalic.woff2") format("woff2"), url("./fonts/AvenirNext-MediumItalic.woff") format("woff"), url("./fonts/AvenirNext-MediumItalic.ttf") format("truetype"), url("./fonts/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("./fonts/AvenirNext-DemiBoldItalic.eot");
  src: url("./fonts/AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNext-DemiBoldItalic.woff2") format("woff2"), url("./fonts/AvenirNext-DemiBoldItalic.woff") format("woff"), url("./fonts/AvenirNext-DemiBoldItalic.ttf") format("truetype"), url("./fonts/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next';
  font-size: 12px;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  width: 100%;
}

a {
  text-decoration: none;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #003B77;
  min-width: 250px;
  z-index: 900;
  min-height: 100vh;
}

.sidebar .sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.sidebar .sidebar__logo img {
  height: 13px;
  width: 93px;
  margin-bottom: 80px;
}

.sidebar .sidebar__links {
  color: #FFFFFF80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 5px 50px;
  text-decoration: none;
  margin: 6px 0;
}

.sidebar .sidebar__links:hover {
  color: #FFFFFF;
  background-color: #004892;
}

.sidebar .sidebar__links:hover svg g {
  fill: #FFFFFF;
}

.sidebar .sidebar__links svg {
  margin-right: 30px;
}

.sidebar .sidebar__links h3 {
  font-weight: 600;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px;
  -webkit-box-shadow: -1px 2px 12px 2px #DEDEDE;
          box-shadow: -1px 2px 12px 2px #DEDEDE;
  position: relative;
}

.navbar .navbar__form input {
  width: 381px;
  height: 40px;
  background-color: #F7F7F7;
  border: solid 1px #CACACA;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Avenir Next';
  line-height: 1.4em;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  outline: none;
  background-image: url("../components/Image Components/Search.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: 340px;
}

.navbar .navbar__form input::-webkit-input-placeholder {
  color: #7c7c7c;
}

.navbar .navbar__form input:-ms-input-placeholder {
  color: #7c7c7c;
}

.navbar .navbar__form input::-ms-input-placeholder {
  color: #7c7c7c;
}

.navbar .navbar__form input::placeholder {
  color: #7c7c7c;
}

.navbar .navbar__form input:focus {
  border-color: #004892;
  color: #3A3A3A;
}

.navbar .navbar__form input:focus::-webkit-input-placeholder {
  color: #3A3A3A;
}

.navbar .navbar__form input:focus:-ms-input-placeholder {
  color: #3A3A3A;
}

.navbar .navbar__form input:focus::-ms-input-placeholder {
  color: #3A3A3A;
}

.navbar .navbar__form input:focus::placeholder {
  color: #3A3A3A;
}

.navbar .navbar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__user div {
  width: 40px;
  height: 40px;
  background-color: #7c7c7c;
  border-radius: 50%;
}

.navbar .navbar__user svg {
  margin: 0 70px 0 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.navbar .navbar__user svg g {
  fill: #ADADAD;
}

.InvListParent {
  background-color: #F7F7F7;
  padding: 2rem 3rem;
  min-height: 100vh;
}

.InvListParent__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.InvListParent__title h1 {
  margin: 0;
}

.InvListParent__title span {
  color: #003B77;
  font-weight: bold;
}

.InvListParent__title span:hover {
  cursor: pointer;
  color: #7c7c7c;
}

.InvListParent table {
  width: 100%;
  border: 1px solid #DEDEDE;
  border-collapse: collapse;
}

.InvListParent table th, .InvListParent table td {
  padding: 1.5rem;
}

.InvListParent table td:nth-child(n+4), .InvListParent table th:nth-child(n+4) {
  text-align: right;
}

.InvListParent table thead {
  display: table-header-group;
}

.InvListParent table .HeaderRow {
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
}

.InvListParent table .HeaderRow th:first-child {
  text-align: left;
  width: 33%;
}

.InvListParent table .HeaderRow th:last-child {
  padding-right: 0;
}

.InvListParent table tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}

.InvListParent table tbody tr:nth-child(odd) {
  background-color: #F7F7F7;
}

.InvListParent table .ItemRow span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.InvListParent table .ItemRow span:first-child:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #3A3A3A;
}

.InvListParent table td {
  font-size: 12px;
  text-align: left;
}

.InvListParent table td:first-child {
  width: 33%;
}

.InvListParent table td img:hover {
  cursor: pointer;
}

.InvListParent table td span:first-child {
  color: #004892;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
}

.warehouse__card {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  padding: 25px 35px;
  margin: 20px 0;
}

.warehouse__card .warehouse__name {
  color: #003B77;
  margin: 0;
  margin-bottom: 12px;
}

.warehouse__card .warehouse__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
}

.warehouse__card .warehouse__details .warehouse--black {
  color: #3A3A3A;
  margin-bottom: 8px;
}

.warehouse__card .warehouse__details p {
  margin: 3px 0;
  color: #7c7c7c;
}

.warehouse__add {
  width: 65px;
  height: 65px;
  background-color: #004892;
  font-size: 40px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 60px;
  right: 100px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 40px 55px 0px #00000026;
          box-shadow: 0px 40px 55px 0px #00000026;
  cursor: pointer;
}

.warehouse__add p {
  width: 22px;
  height: 22px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.warehouse__add:hover {
  background-color: #003B77;
}

.InvDetailsParent {
  background-color: #F7F7F7;
  min-height: 100vh;
  padding: 2rem 3rem;
}

.InvDetailsParent .detailCard {
  background-color: #FFFFFF;
  border: solid #CACACA 1px;
  padding: 2.8em;
}

.InvDetailsParent .detailCard .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.InvDetailsParent .detailCard .title__name {
  color: #004892;
  font-weight: 600;
  display: inline-block;
  text-align: left;
}

.InvDetailsParent .detailCard .title__newOrderButton {
  font-family: 'Avenir Next';
  background-color: #004892;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: .2px;
  border: none;
  padding: .8em 2em;
  display: inline-block;
  text-align: right;
}

.InvDetailsParent .detailCard .title__newOrderButton:hover {
  background-color: #003B77;
  cursor: pointer;
}

.InvDetailsParent .detailCard .details {
  padding: 0;
  list-style-type: none;
  overflow-wrap: break-word;
}

.InvDetailsParent .detailCard .details span {
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
}

.InvDetailsParent .detailCard .details .text {
  display: inline-block;
  width: 45%;
}

.InvDetailsParent .detailCard .details li {
  margin: 2em 0;
}
/*# sourceMappingURL=index.css.map */